{% load webdesign %}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome To Site</h1>
        <p>Insert marketing copy here.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About</h2>
            <p>{% lorem %}</p>
        </div>
        <div class="col-md-6">
            <h2>Contact</h2>
            <p>{% lorem %}</p>
            <p>
                <a class="btn btn-default"
                   href="{% url 'page' 'contact' %}"
                   role="button" >
                   Contact us >>
                </a>
            </p>
        </div>
    </div>
</div>

<hr>

<footer>
    <div class="container">
        <p>&copy; Your company {% now 'Y' %}</p>
    </div>
</footer>